h4 {
    font-size: 100;
    margin-bottom: -10px;
    font-family: "Comic Sans MS"
}

h1  {
    text-align: center;
    font-size: 100;
    background-color: #9fd3c7;
    color: #373331;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: -10px;
    font-family: "Comic Sans MS"
    } 

h2  {
    text-align: center;
    text-align: top;
    background-color: #9fd3c7;
    
    color: #373331;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Comic Sans MS"
    } 

h3 {
    
    text-align: center;
    margin-top: 10px;
    color: #373331;
    font-size: 40px;
    font-family: "Comic Sans MS"

}
body{
    text-align: left;  
    background-color: #fff3e1
    }

div {
    text-align: center;
    background-color: #9fd3c7;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 30px;
    height: 155px;
    font-family:"Comic Sans MS"
    }

a {
    text-decoration: none;
    color: #373331
}

button {
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgb(200 200 0 / 0.6);
    background-color: rgb(0 217 217 / 0.6);
    color: rgb(100 0 0 / 1);
    box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

ul {
    font-size: 24;
    font-family: "Comic Sans MS"
    
}

#first {
    height: 500px;
    width: 750px;

}
